<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ninja.dudley.yamr" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".YAMR">

        <receiver android:name=".svc.FetchStarter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ninja.dudley.yamr.FetchStarter.StartChecking" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".db.DBProvider"
            android:authorities="ninja.dudley.yamr.db.DBProvider" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.Browse"
            android:label="@string/title_activity_reader"
            android:parentActivityName=".ui.activities.MainActivity" >
        </activity>
        <activity
            android:name=".ui.activities.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ninja.dudley.yamr.ui.activities.MainActivity" />
        </activity>
    </application>

</manifest>
